.FitMyVideo-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.FitMyVideo-container iframe,	
.FitMyVideo-container object,	
.FitMyVideo-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main-content {
  margin-left: 10%;
}

.a-video {
  width: 100%;
}

main h1 {
  margin: 2em 0em 0.5em;
  font-size: 150%;
}

main p {
  padding: 2em 0em;
}

#bottom-spacer {
  height: 3em;
}
