body {
 background-image: url('../img/Fog.jpg');
}

#main-nav-outer{
  background-color: #f5f5f5;
}

#l-ym-col1 {
  font-size: 75%;
}

#main-logo-text {
  font-size: 120%;
}

#left-nav-wrapper {
  width: 250px;
}
#main-logo-text {
  width: 190px;
}

#bg {
  display: none;
}